<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RockSnifferGui.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <RockSnifferGui.Properties.Settings>
            <setting name="MainWindowTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MainWindowLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MainWindowWidth" serializeAs="String">
                <value>350</value>
            </setting>
            <setting name="MainWindowHeight" serializeAs="String">
                <value>450</value>
            </setting>
            <setting name="OverlayTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OverlayLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OverlayWidth" serializeAs="String">
                <value>750</value>
            </setting>
            <setting name="OverlayHeight" serializeAs="String">
                <value>150</value>
            </setting>
        </RockSnifferGui.Properties.Settings>
    </userSettings>
</configuration>